<app-layout-base
  [title]="'Listagem de dependente'"
  [btnTitle]="'Novo'"
  (toggleDialog)="toggleDialog()"
>
  <p-toast />
  <p-confirmPopup />
  <p-table [value]="items" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Número de inscrição</th>
        <th>Nome</th>
        <th>Data de nascimento</th>
        <th>Sexo</th>
        <th>Sócio</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.numInscricao }}</td>
        <td>{{ item.nome }}</td>
        <td>{{ item.dtNascimento | date : "shortDate" }}</td>
        <td>{{ item.sexo }}</td>
        <td>{{ item.socio?.nome }}</td>
        <td>{{ item.estahAtivo ? 'Ativo' : 'Inativo' }}</td>
        <td>
          <p-button
            label="Editar"
            icon="pi pi-pencil"
            size="small"
            class="mr-1"
            (onClick)="handleEdit(item.id!)"
          />
          <p-button
            label="Excluir"
            icon="pi pi-trash"
            size="small"
            severity="danger"
            (onClick)="handleDelete($event, item.id!)"
          />
          <p-button
            [label]="item.estahAtivo ? 'Desativar' : 'Ativar'"
            [icon]="
              item.estahAtivo ? 'pi pi-times-circle' : 'pi pi-check-circle'
            "
            size="small"
            class="ml-1"
            severity="info"
            (onClick)="toggleStatus(item)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>

  @if (isDialogOpen) {
  <app-dialog
    [visible]="isDialogOpen"
    (closeDialog)="toggleDialog()"
    [header]="itemToEdit ? 'Editar Dependente' : 'Novo dependente'"
  >
    <form (ngSubmit)="handleSave()">
      <div class="mb-3 w-full">
        <label for="" class="block mb-2">Nome: </label>
        <input
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          [(ngModel)]="dependente"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="mb-3 w-full">
        <label for="" class="block mb-2">Data de nascimento: </label>
        <input
          type="date"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          [(ngModel)]="dtNascimento"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="mb-3 w-full">
        <label for="" class="block mb-2">Sexo: </label>
        <div class="flex gap-4">
          <div>
            <input
              type="radio"
              id="masculino"
              name="sexo"
              value="Masculino"
              [(ngModel)]="sexo"
              [ngModelOptions]="{ standalone: true }"
              class="mr-2"
            />
            <label for="masculino">Masculino</label>
          </div>
          <div>
            <input
              type="radio"
              id="feminino"
              name="sexo"
              value="Feminino"
              [(ngModel)]="sexo"
              [ngModelOptions]="{ standalone: true }"
              class="mr-2"
            />
            <label for="feminino">Feminino</label>
          </div>
        </div>
      </div>
      <div class="mb-3 w-full">
        <label for="socio" class="block mb-2">Sócio</label>
        <select
          name="socio"
          [(ngModel)]="selectedSocio"
          [ngModelOptions]="{ standalone: true }"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        >
          <option *ngFor="let socio of socios" [ngValue]="socio">
            {{ socio.nome }}
          </option>
        </select>
      </div>
      <p-button
        label="Salvar"
        type="submit"
        severity="success"
        icon="pi pi-save"
      />
    </form>
  </app-dialog>
  }
</app-layout-base>
